- if can? :update, @album
  - if picture == @album.picture
    %i.icon-star
  - else
    = link_to '', promote_album_path(@album, :picture_id => picture.id), method: :post, class: 'icon-star-empty'
= link_to '', album_picture_path(@album, picture), class: 'icon-download'
- if can? :delete, picture
  = link_to '', album_picture_path(@album, picture), method: :delete, confirm: t('delete_confirm'), class: 'icon-remove'